.chat-page {
    margin: 0 auto;
    width: 1326px;
}
.chat-page__title {
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 40px;  
    padding-top: 20px; 
}
.chat-page__cross {
    width: 100%;
    border-bottom: 1px solid #fff;
    margin: 40px 0;
}
.chat-page__info {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}
.chat-page__add-user, .chat-page__delete-chat {
    width: 220px;
    margin-bottom: 20px;
}
.chat-page__buttons {
    display: flex;
    grid-gap: 40px;
}