.regular-button {
    text-align: center;
    background-color: rgba(23, 22, 23, 0.92);
    padding: 8px 20px;
    border: 1px solid rgba(23, 22, 23, 0.92);
    width: 100%;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        background-color: rgba(3, 2, 3, 0.92);
    }
}
.transparent-button {
    text-align: center;
    background-color: transparent;
    padding: 8px 20px;
    width: 100%;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #D7D7D7;
    border: 1px solid #D7D7D7;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        background-color: #fff;
        color: #000;
    }
}
.only-text {
    font-size: 16px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}