.link-item {
    background-color: rgba(23, 22, 23, 0.92);
    width: 309px;
    height: 186px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 20px;
    border-radius: 12px;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.link-item_img {
    width: 80px;
    height: 80px;
}