.text-field {
    color: #fff;
}

.text-field__content {
    background: rgba(23, 22, 23, 0.92);
    border-radius: 4px;
    padding: 13px 10px;
    margin-top: 4px;
}
.text-field {
    width: 422px;
    font-size: 16px;
}