$main-color: #454545;
:root { font-family: 'Inter', sans-serif; }
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-weight: 300;
}
.App {
    background-color: $main-color;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 30px;
}
